@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.menu-item {

  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;

  background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-size: 100%;

}

.menu-item:hover {
    color: plum;
}

.menu-item.active {
    background-color: rgb(226, 147, 213);
    color: cornsilk;
}