.square {
    width: 20px;
    height: 20px;

    animation-name: rotate;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    display: inline-block;
    margin: 20px;
    border-radius: 3px;
}

.square:hover {
    animation-play-state: running;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(3);
    }
    100% {
        transform: rotate(360deg) scale(3);
    }
}